/* Configuration de la page */
.app {
  margin: 0;
  padding: 0;
  /* Prendre toute la hauteur de la fenêtre */
  overflow: hidden;
  box-sizing: border-box;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenu de la page au-dessus de la vidéo */
.content {
  position: relative;
  z-index: 1;
  background: #221f1fcc;
  border-radius: 16px;
  box-shadow: 0 4px 30px #221f1f1a;
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid #221f1f4d;  
  /* Placer le contenu au-dessus de la vidéo */
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 3em;
  color: #f5f5f1;
}

/* Styles des boutons */
.buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn {
  background-color: #e50914;
  color: #221f1f;
  padding: 15px 30px;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 25px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #e50914;
}

.btn-out {
  background-color: transparent;
  color: #e50914;
  border: 2px solid #e50914;
}

.btn-out:hover {
  background-color: #e50914;
  color: #f5f5f1;
}